<div class="image w-full md:w-1/2 lg:w-1/3 text-center mb-8 px-4">
  <div class="relative overflow-hidden">
    <div class="overlay absolute flex items-end inset-0 z-10 p-4">
        <ul class="flex">
          <li class="mr-2">
            <a href="#" class="save" data-id="<%= image.id %>">
              <i class="fa fa-folder fa-lg text-blue-300"></i>
            </a>
          </li>
          <li class="mr-2">
            <i class="fa fa-heart fa-lg text-red-300"></i>
          </li>
          <li class="mr-2">
            <i class="fa fa-star fa-lg text-yellow-400"></i>
          </li>
        </ul>
    </div>
    <iframe src="<%= image.embed_url %>" alt="<%= image.title %>" class="max-w-full bg-black"></iframe>
  </div>
  <h5 class="text-sm capitalize text-gray-600 leading-none whitespace-no-wrap overflow-hidden my-2"><%= image.title %></h5>
</div>