<div id="kickout" class="bg-gray-300 max-w-lg h-screen fixed px-8 py-32 z-10 shadow-lg <%= status %>">
  <div data-toggle class="absolute right-0 top-0 mt-16 -mr-6 px-4 py-2 bg-green-500 text-white rounded cursor-pointer">
    <i class="fas <%= status ? 'fa-caret-left' : 'fa-caret-right' %>"></i>
  </div>
  <div class="flex flex-col">
    <div class="w-full mb-12">
      <div class="w-full">
          <div class="flex items-center">
            <input name="folder" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded rounded-tr-none rounded-br-none py-2 px-4 block w-full appearance-none leading-normal" type="text" placeholder="Folder Name">
            <button id="add" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-2 border-teal-500 text-white py-2 px-2 rounded rounded-tl-none rounded-bl-none" type="button">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-full overflow-y-scroll">
      <% for(folder of folders){ %>
        <%= folderSidebarItemTpl(folder) %>
      <% } %> 
    </div>
  </div> 
</div>